<?php


/* toolbar.php
* @package  <%= componentName %>
* @author <%= authorName %>
* Copyright <%= copyright %>
*/
?>
<h1><?php echo JText::_('<%= languagePrefix %>_VIEW_CONTROL_PANEL'); ?></h1>

<h4><?php echo JText::_('<%= languagePrefix %>_VIEW_CONTROL_PANEL_INTRO'); ?></h4>
    <span><a class="btn btn-primary" href="<?php echo JUri::base().''; ?>index.php?option=com_<%= componentName %>&view=Items&task=browse" title="Items">Items</a></span>